.footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  bottom: 0;
  max-height: 75px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
